# Local MongoDB connection
# MONGO_URI=mongodb://localhost:27017/taskmanager

# MongoDB Atlas connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/taskmanager?retryWrites=true&w=majority

PORT=5000
